img {
    height: 300px;
}

li {
    font-size:40px;
}

h1 {
    font-size:40px;
    color:ghostwhite;
}

h2 {
    font-size:32px;
    text-align: left;
}

.citation {
    font-size:12px;
}

body {
    background-color:DarkSlateGray;
    text-align: center;
}

.li1 {
    background-color:DarkSlateGray;
    color:GhostWhite;
}

a {
    color:Cyan;
}

.milestone {
    font-size:20px;
}



