img {
    height: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size:40px;
    color:ghostwhite;
}

h2 {
    font-size:32px;
    text-align: left;
    margin-left: 5px;
}

.citation {
    font-size:12px;
    text-align: center;
}

body {
    background-color:black;
    text-align: center;
    margin-right: 50px;
}

a {
    color:Cyan;
}

.milestone {
    font-size:20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

table {
    color: ghostwhite;
}

.img-link {
    height: 100px;
}

.nav-table {
    table-layout: fixed;
    width: 900px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.bg-iphone1 {
    background-color: #5C5EBD;
    color: ghostwhite;
}

.bg-iphone3 {
    background-color: #8B5CBD;
    color: ghostwhite;
}

.bg-iphone5 {
    background-color: #BB5CBD;
    color: ghostwhite;
}

.bg-iphone6 {
    background-color: #5C8FBD;
    color: ghostwhite;
}

.bg-iphonex {
    background-color: #5CBDBB;
    color: ghostwhite;
}

.info {
    text-align: center;
}

.d-table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 20px;
}

h3 {
    color: ghostwhite;
    text-align: center;
}

.index-img {
    height: 250px;
}

.index-table {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    border-color: ghostwhite;
    border-width: 5px;
}

.footer {
    color: lightsteelblue;
    text-align: left;
}

hr {
    height: 1px;
    border: none;
    background-color: lightsteelblue;
}

h3 {
    margin-top: 0%;
}