img {
    height: 300px;
}

li {
    font-size:40px;
}

h1 {
    font-size:40px;
}

h2 {
    font-size:32px;
}

.citation {
    font-size:16px;
}

body {
    background-color:DarkSlateGray;
}

.li1 {
    background-color:DarkSlateGray;
    color:AliceBlue;
}

a {
    color:Cyan;
}

